In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_df = pd.read_csv('data.csv')

In [3]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6012 entries, 0 to 6011
Columns: 144 entries, R_fighter to R_age
dtypes: bool(1), float64(106), int64(28), object(9)
memory usage: 6.6+ MB

In [4]:
df = data_df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3890 entries, 0 to 5884
Columns: 144 entries, R_fighter to R_age
dtypes: bool(1), float64(106), int64(28), object(9)
memory usage: 4.3+ MB

In [6]:
df.loc[df['date'] == '2021-03-06']

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
23,Dominick Cruz,Casey Kenney,Jason Herzog,2021-03-06,"Las Vegas, Nevada, USA",Red,False,Bantamweight,0.000000,0.000000,...,3,1,0,0,Orthodox,172.72,172.72,135.0,29.0,35.0
24,Song Yadong,Kyler Phillips,Mark Smith,2021-03-06,"Las Vegas, Nevada, USA",Blue,False,Bantamweight,0.000000,0.000000,...,2,2,1,0,Orthodox,172.72,170.18,145.0,25.0,23.0
25,Petr Yan,Aljamain Sterling,Mark Smith,2021-03-06,"Las Vegas, Nevada, USA",Blue,True,Bantamweight,0.000000,0.035156,...,3,4,0,0,Switch,170.18,170.18,135.0,31.0,28.0
26,Jan Blachowicz,Israel Adesanya,Herb Dean,2021-03-06,"Las Vegas, Nevada, USA",Red,True,LightHeavyweight,1.050781,0.000000,...,3,4,2,0,Orthodox,187.96,198.12,205.0,31.0,38.0
27,Thiago Santos,Aleksandar Rakic,Herb Dean,2021-03-06,"Las Vegas, Nevada, USA",Blue,False,LightHeavyweight,0.718750,0.062500,...,2,11,0,0,Orthodox,187.96,193.04,205.0,29.0,37.0
28,Joseph Benavidez,Askar Askarov,Jason Herzog,2021-03-06,"Las Vegas, Nevada, USA",Blue,False,Flyweight,0.000000,0.250000,...,8,5,1,0,Southpaw,162.56,165.10,125.0,28.0,36.0
29,Amanda Nunes,Megan Anderson,Jason Herzog,2021-03-06,"Las Vegas, Nevada, USA",Red,True,WomenFeatherweight,0.500000,0.000000,...,3,7,2,0,Orthodox,172.72,175.26,145.0,31.0,32.0
30,Islam Makhachev,Drew Dober,Chris Tognoni,2021-03-06,"Las Vegas, Nevada, USA",Red,False,Lightweight,0.388672,0.000000,...,4,1,2,0,Southpaw,177.80,177.80,155.0,32.0,29.0
31,Tim Elliott,Jordan Espinosa,Mark Smith,2021-03-06,"Las Vegas, Nevada, USA",Red,False,Flyweight,0.000000,0.000000,...,4,0,1,0,Southpaw,170.18,167.64,125.0,31.0,34.0
32,Livinha Souza,Amanda Lemos,Jason Herzog,2021-03-06,"Las Vegas, Nevada, USA",Blue,False,WomenStrawweight,0.500000,0.000000,...,1,0,1,0,Orthodox,160.02,160.02,115.0,33.0,29.0
33,Rogerio Bontorin,Kai Kara-France,Herb Dean,2021-03-06,"Las Vegas, Nevada, USA",Blue,False,Flyweight,0.593750,1.031250,...,0,0,0,1,Orthodox,165.10,170.18,125.0,27.0,28.0
36,Sean Brady,Jake Matthews,Chris Tognoni,2021-03-06,"Las Vegas, Nevada, USA",Red,False,Welterweight,0.781250,0.000488,...,2,0,1,0,Orthodox,177.80,182.88,170.0,26.0,28.0
37,Mario Bautista,Trevin Jones,Chris Tognoni,2021-03-06,"Las Vegas, Nevada, USA",Blue,False,Bantamweight,1.000000,1.000000,...,1,1,0,0,Switch,175.26,175.26,135.0,30.0,27.0

In [7]:
columns=df.select_dtypes(include='object').columns

In [8]:
columns

Index(['R_fighter', 'B_fighter', 'Referee', 'date', 'location', 'Winner',
       'weight_class', 'B_Stance', 'R_Stance'],
      dtype='object')

In [9]:
df.drop(columns=['R_fighter', 'B_fighter', 'Referee', 'date', 'location','weight_class'], inplace=True)

<ipython-input-9-599302c60a61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['R_fighter', 'B_fighter', 'Referee', 'date', 'location','weight_class'], inplace=True)

In [10]:
df.select_dtypes(include='object')

     Winner  B_Stance  R_Stance
0       Red  Orthodox  Orthodox
1       Red  Orthodox  Orthodox
4      Blue  Orthodox  Orthodox
5      Blue    Switch  Orthodox
6      Blue  Orthodox  Orthodox
...     ...       ...       ...
5759    Red  Orthodox  Orthodox
5767    Red  Orthodox  Orthodox
5799    Red  Orthodox  Orthodox
5840    Red  Orthodox  Orthodox
5884    Red  Southpaw  Orthodox

[3890 rows x 3 columns]

In [11]:
df['B_Stance'].value_counts()

Orthodox       2932
Southpaw        807
Switch          147
Open Stance       4
Name: B_Stance, dtype: int64

In [12]:
df['Winner'].value_counts()

Red     2397
Blue    1424
Draw      69
Name: Winner, dtype: int64

In [13]:
df['R_Stance'].value_counts()

Orthodox       2929
Southpaw        838
Switch          113
Open Stance      10
Name: R_Stance, dtype: int64

In [14]:
map_stance = {'Orthodox': 0, 'Switch': 1, 'Southpaw': 2, 'Open Stance': 3}
df['B_Stance'] = df['B_Stance'].replace(map_stance)
df['R_Stance'] = df['R_Stance'].replace(map_stance)
map_winner = {'Red': 0, 'Blue': 1, 'Draw': 2}
df['Winner'] = df['Winner'].replace(map_winner)

<ipython-input-14-82c9fde5bcf9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['B_Stance'] = df['B_Stance'].replace(map_stance)
<ipython-input-14-82c9fde5bcf9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['R_Stance'] = df['R_Stance'].replace(map_stance)
<ipython-input-14-82c9fde5bcf9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Winner'] = df['Winner'].replace(map_winner)

In [15]:
df.drop(columns=df.select_dtypes(include='bool').columns, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3890 entries, 0 to 5884
Columns: 137 entries, Winner to R_age
dtypes: float64(106), int64(31)
memory usage: 4.1 MB

<ipython-input-15-c16457873eec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=df.select_dtypes(include='bool').columns, inplace=True)

In [16]:
df = df[df['Winner'] != 2]

In [17]:
df['Winner'].value_counts()

0    2397
1    1424
Name: Winner, dtype: int64

In [18]:
X = df.drop(columns=['Winner'])
Y = df['Winner']

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

In [20]:
print("Training size = " + str(X_train.shape[0]))
print("Testing size = " + str(X_test.shape[0]))

Training size = 2865
Testing size = 956

In [21]:
seed = 404
np.random.seed(seed)

Используем метод перекрестной проверки (cross-validation) для оценки качества различных моделей машинного обучения на обучающих данных.

Сначала создается экземпляр классификатора. Затем создается объект StratifiedKFold, который разбивает данные на 10 фолдов (10 подмножеств) и перемешивает их случайным образом, используя заданный seed (для повторяемости результатов).

Затем метод cross_val_score() вызывается с параметрами: классификатор, обучающие данные, целевая переменная (y_train) и объект StratifiedKFold.

Метод cross_val_score() выполняет перекрестную проверку и возвращает массив оценок (scores), соответствующих каждому фолду. Затем вычисляется среднее значение оценок и выводятся на экран оценки для каждого фолда и среднее значение.

In [22]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cv_score = cross_val_score(gnb, X_train, y_train.values.ravel(), cv=kfold)
gnb_score = cv_score.mean()
print('Gaussian Naive Bayes K-fold Scores:')
print(cv_score)
print()
print('Gaussian Naive Bayes Average Score:')
print(gnb_score)
print()

Gaussian Naive Bayes K-fold Scores:
[0.56794425 0.55749129 0.63066202 0.56097561 0.64808362 0.52797203
 0.61188811 0.61888112 0.51748252 0.53146853]

Gaussian Naive Bayes Average Score:
0.5772849102117396

In [23]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter = 10000)
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cv_score = cross_val_score(lr, X_train, y_train.values.ravel(), cv=kfold)
lr_score = cv_score.mean()
print('Logistic Regression K-fold Scores (training):')
print(cv_score)
print()
print('Logistic Regression Average Score:')
print(lr_score)

Logistic Regression K-fold Scores (training):
[0.63066202 0.65853659 0.65853659 0.64808362 0.66202091 0.63986014
 0.65384615 0.63286713 0.61888112 0.61888112]

Logistic Regression Average Score:
0.6422175385590021

In [24]:
from sklearn import tree

dt = tree.DecisionTreeClassifier(random_state = 1)
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cv_score = cross_val_score(dt, X_train, y_train.values.ravel(), cv=kfold)
dt_score = cv_score.mean()
print('Decision Tree K-fold Scores:')
print(cv_score)
print()
print('Decision Tree Average Score:')
print(dt_score)

Decision Tree K-fold Scores:
[0.57839721 0.5087108  0.58188153 0.57839721 0.57839721 0.59090909
 0.52447552 0.6013986  0.55594406 0.57692308]

Decision Tree Average Score:
0.5675434321775785

In [25]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cv_score = cross_val_score(knn, X_train, y_train.values.ravel(), cv=kfold)
knn_score = cv_score.mean()
print('KNN K-fold Scores):')
print(cv_score)
print()
print('KNN Average Score:')
print(knn_score)

KNN K-fold Scores):
[0.58188153 0.58885017 0.6271777  0.58188153 0.60627178 0.6048951
 0.59440559 0.61538462 0.53496503 0.54545455]

KNN Average Score:
0.5881167612874931

In [26]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state = 1)
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cv_score = cross_val_score(rf, X_train, y_train.values.ravel(), cv=kfold)
rf_score = cv_score.mean()
print('Random Forest K-fold Scores:')
print(cv_score)
print()
print('Random Forest Average Score:')
print(rf_score)

Random Forest K-fold Scores:
[0.64111498 0.61324042 0.67595819 0.6271777  0.6097561  0.65034965
 0.63286713 0.61538462 0.58741259 0.65034965]

Random Forest Average Score:
0.6303611023123218

In [27]:
import xgboost
from xgboost import XGBClassifier

xgb = XGBClassifier(objective='binary:logistic',random_state =1, use_label_encoder=False)
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cv_score = cross_val_score(xgb, X_train, y_train.values.ravel(), cv=kfold)
xgb_score = cv_score.mean()
print('XGBoost Classifier K-fold Scores:')
print(cv_score)
print()
print('XGBoost Classifier Average Score:')
print(xgb_score)

/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

XGBoost Classifier K-fold Scores:
[0.58885017 0.63414634 0.69337979 0.62020906 0.60627178 0.63986014
 0.62937063 0.56993007 0.53496503 0.58741259]

XGBoost Classifier Average Score:
0.6104395604395605

In [28]:
from sklearn.svm import SVC

svc = SVC(probability = True)
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cv_score = cross_val_score(svc, X_train, y_train.values.ravel(), cv=kfold)
svc_score = cv_score.mean()
print('Support Vector Classification K-fold Scores:')
print(cv_score)
print()
print('Support Vector Classification Average Score:')
print(svc_score)

Support Vector Classification K-fold Scores:
[0.62369338 0.62020906 0.62020906 0.62020906 0.62020906 0.62237762
 0.62237762 0.62237762 0.62237762 0.62237762]

Support Vector Classification Average Score:
0.6216417728612851

In [29]:
scores = [['Gaussian Naive Bayes', gnb_score],
 ['Logistic Regression', lr_score],
 ['Random Forest', rf_score],
 ['Decision Tree', dt_score],
 ['K-Nearest Neighbor', knn_score],
 ['Support Vector Classifier', svc_score],
 ['XGBoost', xgb_score]]

df_scores = pd.DataFrame(scores,
                         columns = ['Model', 'Score Average']
                        )
df_scores

                       Model  Score Average
0       Gaussian Naive Bayes       0.577285
1        Logistic Regression       0.642218
2              Random Forest       0.630361
3              Decision Tree       0.567543
4         K-Nearest Neighbor       0.588117
5  Support Vector Classifier       0.621642
6                    XGBoost       0.610440

In [30]:
df_scores.sort_values('Score Average', ascending=True).head(3)

                  Model  Score Average
3         Decision Tree       0.567543
0  Gaussian Naive Bayes       0.577285
4    K-Nearest Neighbor       0.588117

In [31]:
from sklearn.metrics import accuracy_score

lr = LogisticRegression(max_iter = 10000)
lr_model = lr.fit(X_train, y_train.values.ravel())
y_pred = lr_model.predict(X_test)
print('Logistic Regression Model Accuracy (on testing set): ')
print(accuracy_score(y_test, y_pred))

Logistic Regression Model Accuracy (on testing set):
0.6579497907949791

In [32]:
rf = RandomForestClassifier(random_state = 1)
rf_model = rf.fit(X_train, y_train.values.ravel())
y_pred = rf_model.predict(X_test)
print('Random Forest Model Accuracy (on testing set): ')
print(accuracy_score(y_test, y_pred))

Random Forest Model Accuracy (on testing set):
0.6642259414225942

In [33]:
svc = SVC(probability = True)
svc_model = svc.fit(X_train, y_train.values.ravel())
y_pred = svc_model.predict(X_test)
print('SVC Model Accuracy (on testing set): ')
print(accuracy_score(y_test, y_pred))

SVC Model Accuracy (on testing set):
0.6443514644351465

Prediction Time
UFC 259: Blachowicz vs Adesanya
Title fights (5 rounds):
Jan Blachowicz vs Israel Adesanya

Amanda Nunes vs Megan Anderson

Petr Yan vs Aljamain Sterling

3 round fights:
Islam Makhachev vs Drew Dober

Thiago Santos vs Aleksandar Rakic

The Stats: (https://www.espn.co.uk/mma/fightcenter/_/id/600001860/league/ufc)
Fight 1
Jan Blachowicz (Red)
Israel Adesanya (Blue)
Fight 2
Amanda Nunes (Red)
Megan Anderson (Blue)
Fight 3
Petr Yan (Red)
Aljamain Sterling (Blue)
Fight 4
Islam Makhachev (Red)
Drew Dober (Blue)
Fight 5
Thiago Santos (Red)
Aleksandar Rakic (Blue)
With all the stats available to us, it can create a data frame to feed into our models and get predictions

In [34]:
columns = X.columns

In [35]:
fight1 = X.loc[26]
fight2 = X.loc[29]
fight3 = X.loc[25]
fight4 = X.loc[30]
fight5 = X.loc[27]
df1 = pd.DataFrame(np.array([fight1, fight2, fight3, fight4, fight5]), columns = columns)

True Winners:
Fight 1 - Jan Blachowicz
Fight 2 - Amanda Nunes
Fight 3 - Aljamain Sterling
Fight 4 - Islam Makhachev
Fight 5 - Aleksandar Rakic

In [36]:
svc_model.predict(df1)

array([0, 0, 0, 0, 0])

Predicted Winners:
Fight 1 - Jan Blachowicz
Fight 2 - Amanda Nunes
Fight 3 - Petr Yan
Fight 4 - Islam Makhachev
Fight 5 - Thiago Santos
Prediction success - 3/5

In [37]:
rf_model.predict(df1)

array([0, 0, 1, 0, 0])

Predicted Winners:
Fight 1 - Jan Blachowicz
Fight 2 - Amanda Nunes
Fight 3 - Aljamain Sterling
Fight 4 - Islam Makhachev
Fight 5 - Thiago Santos
Prediction success - 4/5

In [38]:
lr_model.predict(df1)

array([1, 0, 0, 0, 0])

Predicted Winners:
Fight 1 - Israel Adesanya
Fight 2 - Amanda Nunes
Fight 3 - Petr Yan
Fight 4 - Islam Makhachev
Fight 5 - Thiago Santos
Prediction success - 2/5